<div class="header">
  <div>
    <%= image_tag "soundvillages.png", class: "logo" %>
  </div>
</div>
<div class="menu">
  <p>講師紹介</p>
  <p>料金</p>
  <p>ご入会の流れ</p>
  <p>よくある質問</p>
  <p>お問い合わせ</p>
</div>