<div class="header">
  <div>
    <%= image_tag "soundvillages.png", class: "logo" %>
  </div>
</div>
<ul class="menu">
  <li>音楽療法とは</li>
  <li><%= link_to "講師", soundvillages_index_path(anchor: "money")%></li>
  <li>料金</li>
  <li>ご入会の流れ</li>
  <li>お問い合わせ</li>
</ul>
<div class="sukima"></div>
<div id="money">これが紹介文です</div>
<div class="sukima"></div>