

<div class="header">
  <div>
    <%= image_tag "soundvillages.png", class: "logo" %>
  </div>
</div>
<ul class="menu">
  <li>レッスン案内</li>
  <li><%= link_to "講師メッセージ", soundvillages_index_path(anchor: "money")%></li>
  <li>お知らせ</li>
  <li>お問い合わせ</li>
</ul>
<div class="sukima"></div>
<div id="money">これが紹介文です</div>
<div class="sukima"></div>